@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: whitesmoke;
  color: white;
}
.apply{
  transition: all smooth;
}
.apply:hover{
  background-color: #0074D9;
  border: transparent;
}